@import '../../styles/variables.scss';

.Projects {
    padding: 30px;
    text-align: center;

    h1 {
        font-size: 700;
        font-size: 1.5rem;
    }

    h2 {
        padding: 10px 0px;
        font-weight: 700;
    }

    h3 {
        color: $backgroundColor;
    }

    h3:hover {
        color: $textColor;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .container__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        box-shadow: $boxShadow;
        border: 1px solid $backgroundColor;
        border-radius: 5px;
    }

    img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}