.Article {
    border-radius: 5px;
    padding: 20px;
    line-height: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
overflow: hidden;
text-overflow: ellipsis;
max-height: 50%;

h2 {
    font-weight: 700;
}

    .italic {
        font-style: italic;
    }
}