@import '../../styles/variables.scss';

.Contact {
    padding: 30px;
    line-height: 2rem;
    display: block;
    margin: 0 auto;
    width: 50%;

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    input,
    textarea {
        display: block;
        resize: none;
        border-radius: 5px;
        border: 1px solid $backgroundColor;
        width: 100%;
    }

    .submit-button {
        margin-top: 10px;
        width: inherit;
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
    }
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.confirmation, .error {
    padding: 30px;
    text-align: center;

    h1 {
        font-weight: 700;
        font-size: 1.5rem;
    }
}

.error {
    background-color: $backgroundColor;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;

    h2 {
        font-weight: 700;
    }
}